.MonTitle {
	font-size:1.5em;
	font-weight:bold;
	margin-top:0.6em; 
	margin-bottom:0.4em;
}
.absTitle {
	font-size:1.5em;
	font-weight:bold;
	font-style:italic;
	margin-top:0.4em;
	margin-bottom:0.3em;
}
.paragraph {
	font-weight:normal;
	font-style:normal;
	margin-top:0.8em;
}
.spacing1 {
	margin-top:0em;
	margin-bottom:0.2em;
}
.ownerCompany {
	font-size:0.8em;
	font-style:italic;
	font-weight:bold;
	text-align:right;
	margin-bottom:1.0em;
	border-top:black 1px solid;
	border-bottom:black 1px solid;
	padding-top:0.2em;
	padding-bottom:0.2em;
}
